@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  box-sizing: border-box;
}

:root{
  --green: #9fe2bf;
  --grey: #36454f;
}

body {
  font-family: "Source Code Pro", monospace;
  background-color: #000000;
  background-image: url(./img/paper-3.png);
  margin: 0;
  max-height: 100vh;
}

#welcome {
  width: 524px;
  height: 140px;
  margin: auto;
  background-image: url(./img/pixel-fruit-welcome.png);
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

#welcome h1,
#welcome p {
  text-align: center;
}

#one-liner{
  margin-top: 25px;
  border-width: 15px;
  border-style: solid;
  border-image: url(./img/checker.png) 25% round;
}

#boxes-array {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px;
}

.box {
  background-color: #36454f;
  color: white;
  border-radius: 5px;
  width: 400px;
  margin: auto;
  text-align: center;
  margin-bottom: 75px;
  padding: 25px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);
}

.box img {
  width: 100px;
}

.box img:hover {
  transform: scale(1.1);
}

.box a{
  color: var(--green);
}

.box a:hover{
  color: white;
}

#footer {
  background-color: #36454f;
  color: white;
  text-align: center;
  padding: 20px;
  /* trying to fix */
  position: relative;
  bottom: -25px;
}

#footer a {
  color: #9fe2bf;
}

@media (max-width: 1000px) {
  #boxes-array {
    grid-template-columns: 1fr;
  }
}

/* ++++++++ */
/* PROJECTS */
/* ++++++++ */

.return-home-btn {
  background-color: #36454f;
  padding: 10px;
  border-radius: 5px;
  margin: 15px;
  width: 130px;
}

.return-home-btn a {
  color: #9fe2bf;
}

.return-home-btn a:hover {
  color: white;
}

#projects-div {
  background-color: #36454f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
}

#projects-div a {
  color: black;
  background-color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

#projects-div a:hover {
  color: tomato;
}

/* ++++++++ */
/*  RESUME  */
/* ++++++++ */

#resume-header {
  background-color: #36454f;
  width: 400px;
  padding: 10px;
  margin: auto;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
}

#pdf-resume {
  display: block;
  margin: auto;
}

/* ++++++++ */
/*  CONTACT */
/* ++++++++ */

#contact-info {
  font-size: 19px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);
}

#contact-info span {
  color: tomato;
}

#contact-info li {
  margin-bottom: 15px;
  list-style: none;
}

#contact-info a {
  color: white;
}

#contact-info a:hover {
  color: #9fe2bf;
}

#copy-icon {
  width: 25px;
}

#copy-btn:hover {
  border: 2px solid #9fe2bf;
}

.song-box{
  border: #000000 1px solid;
  padding: 10px;
}





#wavy-letters span {
  font-size:1em;
  color: var(--green);
  display:table-cell;
  padding: 0 15px;
  line-height: 50px;
  animation:jump 2s infinite;
  width: 10px;
}
@keyframes jump {
  0% {
    transform:translateY(0px)
  }
  50% {
    transform:translateY(-20px);
  }
  100% {
    transform:translateY(0px)	
  }
}
#wavy-letters span:nth-child(1) {
  animation-delay:0s;
}
#wavy-letters span:nth-child(2) {
  animation-delay:.1s;	
}
#wavy-letters span:nth-child(3) {
  animation-delay:.2s;
}
#wavy-letters span:nth-child(4) {
  animation-delay:.3s;	
}
#wavy-letters span:nth-child(5) {
  animation-delay:.4s;
}
#wavy-letters span:nth-child(6) {
  animation-delay:.5s;	
}
#wavy-letters span:nth-child(7) {
  animation-delay:.6s;
}
#wavy-letters span:nth-child(8) {
  animation-delay:.7s;
}
#wavy-letters span:nth-child(9) {
  animation-delay:.8s;
}
#wavy-letters span:nth-child(10) {
  animation-delay:.9s;
}
#wavy-letters span:nth-child(11) {
  animation-delay:1s;
}

#wavy-letters{
  text-align: center;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}



#mini-comic{
  width: 50%;
}